$accentcol: orange

// global #######################################

body
  margin: 0
  font-family: sans-serif
  font-size: 13px

.oth-clock
  width: 340px
  height: 300px
  position: absolute
  top: 180px
  left: calc(50% - 170px)
  z-index: -1
  //
  // TODO: border à supprimer
  //
  border: solid 1px blue

// partie arc ###################################

.oth-title
  text-align: center
  font-size: 26px
  margin-top: 5px

.oth-title-arc
  $rest_ang: 75deg

  position: absolute
  top: 0
  left: calc(50% - 170px)

  @mixin arc
    transform: rotate($rest_ang)
    fill: $accentcol
    cursor: pointer
  @mixin archover($deg: 20deg, $time: 0.1s)
    transform: rotate($deg) scaleY(0.5)
    transition: transform $time

  g.back
    @include arc

  g.back.moved
    @include archover($deg: 160deg, $time: .14s)

  g.front
    @include arc

  g.front.moved
    @include archover

  path
    stroke-linecap: round
    fill: none

  path.arc-back
    stroke-width: 4px
    stroke: #0004

  path.arc-back.active
    stroke-width: 6px
    stroke: #39f

  .circ-g use
    fill: none

  .circ-g.show
    transform: rotate(0deg)
    transition: transform 0.2s

  .circ-g:hover
    .circ
      fill: $accentcol
      stroke: white

    .circ-back
      stroke: $accentcol
      stroke-width: 9px

    use
      fill: black

  .circ
    stroke: $accentcol
    stroke-width: 7px
    fill: none

  .circ-back
    fill: none

  .oth-menu-bar
    fill: $accentcol

    &:hover
      fill: white
      stroke: $accentcol
      stroke-width: 1px

  .oth-menu-bar-line
    stroke: black
    stroke-width: 2px
    stroke-linecap: round
    fill: none

// partie menu ##################################

.oth-menu
  width: 200px
  box-sizing: border-box
  padding: 10px
  background: #0008
  border-radius: 20px
  display: flex
  flex-direction: column
  gap: 20px
  position: absolute
  left: calc(50% - 100px)
  top: 173px

  // TODO: transition d'entrée et sortie

  button
    background: $accentcol
    border: none
    border-radius: 9px
    color: black
    font-weight: bold
    width: 180px
    height: 35px

// partie view ##################################

.oth-viewer
  border: solid 1px pink
  width: 95%
  max-width: 600px
  margin: auto
  margin-top: 110px

