
body
  margin: 0
  font-family: sans-serif
  font-size: 13px

h1
  text-align: center
  font-size: 32px
  margin-top: 5px

.oth-clock
  width: 300px
  height: 300px
  position: absolute
  top: 170px
  left: calc(50% - 150px)
  z-index: -1
  border: solid 1px blue

.oth-title-arc
  background: turquoise
  position: absolute
  top: 0
  left: calc(50% - 150px)
  z-index: -1

